- var POPUP = LANG.popup;

mixin popup(page)
	.popup#order-popup.js-popup
		.popup__wrap
			.popup__close.js-close
				img(src="img/svg/close.svg", alt="close")
			.popup__content
				.popup__left
					h4.popup__title!= POPUP.title
				.popup__right
					.dropdown.popup__dropdown
						button#dropdownMenuButton1.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
							img(src="img/svg/russia.svg", alt="russia")
							| Русский
						ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
							li
								a(href=`/${page}.html`)
									img(src="img/svg/russia.svg", alt="russia")
									| Русский
							li
								a(href=`/english/`)
									img(src="img/svg/english.svg", alt="english")
									| Английский
							li
								a(href=`/georgian/`)
									img(src="img/svg/georgia.svg", alt="georgia")
									| Грузинский