- var POPUP = LANG.popup;

mixin popup-init(page)
	.popup.js-popup-init.active
		.popup__wrap
			.popup__close.js-close
				img(src="img/svg/close.svg", alt="close")
			.popup__content
				.popup__left
					h4.popup__title Select the language to be displayed on the site
				.popup__right
					.dropdown.popup__dropdown
						button#dropdownMenuButton1.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false') Select language
						ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
							li
								a.js-change-lang(href=`/${page}.html`, data-lang="/index.html")
									img(src="img/svg/russia.svg", alt="russia")
									| Russian
							li
								a.js-change-lang(href=`/english/`, data-lang=`/english/`)
									img(src="img/svg/english.svg", alt="english")
									| English
							li
								a.js-change-lang(href=`/georgian/`, data-lang=`/georgian/`)
									img(src="img/svg/georgia.svg", alt="georgia")
									| Georgian