- var SPONSORS = LANG.sponsors;

section.sponsors
	.container
		.sponsors__row
			h2.sponsors__title.title-color!= SPONSORS.title_1
			.sponsors__list
				img(src="img/svg/sponsor_1.svg", alt="mgid")
		.sponsors__row
			h2.sponsors__title.title-color!= SPONSORS.title_2
			.sponsors__list
				img(src="img/svg/partners_1.svg", alt="everad")
				img(src="img/svg/partners_empty.svg", alt="everad")
				img(src="img/svg/partners_empty.svg", alt="everad")
				img(src="img/svg/partners_empty.svg", alt="everad")
				img(src="img/svg/partners_empty.svg", alt="everad")