<!DOCTYPE html>
html(lang=LANG.locale)
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="css/main.css")
		title Affhub-meetup-Tbilisi
		script.
			var EVERlocale = "!{LANG.locale}";
		style.
			#preloader {
				background: #161032;
				position: fixed;
				display: flex;
				align-items: center;
				justify-content: center;
				left: 0;
				bottom: 0;
				right: 0;
				top: 0;
				z-index: 100;
				transition: 1s all;
				opacity: 1;
				visibility: visible
			}

			#preloader.cansel {
				opacity: 0;
				visibility: hidden
			}

			.preloader {
				display: flex;
				align-items: center;
				justify-content: center
			}

			.preloader__item--1 {
				width: 20px;
				height: 20px;
				background: #f583a1;
				border-radius: 50%;
				background-color: #ffa800;
				margin: 7px;
				display: flex;
				justify-content: center;
				align-items: center
			}

			@keyframes scale {
				0% {
					transform: scale(1)
				}

				50%,
				75% {
					transform: scale(2.5)
				}

				78%,
				100% {
					opacity: 0
				}
			}

			.preloader__item--1:before {
				content: '';
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: #ffa800;
				opacity: .7;
				animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
				animation-delay: 200ms;
				transition: .5s all ease;
				transform: scale(1)
			}

			.preloader__item--2 {
				width: 20px;
				height: 20px;
				background: #f583a1;
				border-radius: 50%;
				background-color: #ff57c6;
				margin: 7px;
				display: flex;
				justify-content: center;
				align-items: center
			}

			@keyframes scale {
				0% {
					transform: scale(1)
				}

				50%,
				75% {
					transform: scale(2.5)
				}

				78%,
				100% {
					opacity: 0
				}
			}

			.preloader__item--2:before {
				content: '';
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: #ff57c6;
				opacity: .7;
				animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
				animation-delay: 400ms;
				transition: .5s all ease;
				transform: scale(1)
			}

			.preloader__item--3 {
				width: 20px;
				height: 20px;
				background: #f583a1;
				border-radius: 50%;
				background-color: #ac65c8;
				margin: 7px;
				display: flex;
				justify-content: center;
				align-items: center
			}

			@keyframes scale {
				0% {
					transform: scale(1)
				}

				50%,
				75% {
					transform: scale(2.5)
				}

				78%,
				100% {
					opacity: 0
				}
			}

			.preloader__item--3:before {
				content: '';
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: #ac65c8;
				opacity: .7;
				animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
				animation-delay: 600ms;
				transition: .5s all ease;
				transform: scale(1)
			}
		// Global site tag (gtag.js) - Google Analytics
		script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-180331414-1')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-180331414-1');
	body
		#preloader
			.preloader
				.preloader__item.preloader__item--1
				.preloader__item.preloader__item--2
				.preloader__item.preloader__item--3
		include templates/header
		include templates/event-description
		include templates/entertaining-program
		include templates/speakers
		include templates/schedule
		include templates/team
		include templates/photo-report
		include templates/sponsors
		include templates/check-in
		include templates/footer
		include templates/popup
		+popup("index")
		.overlay.js-overlay.active

		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js") 
		script(src="js/main.js")
